<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}</property>
        <property name="connection.username">${DATABASE_USERNAME}</property>
        <property name="connection.password">${DATABASE_PASSWORD}</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Hibernate mappings -->
        <mapping class="ru.naumen.personalfinancebot.models.User" />
        <mapping class="ru.naumen.personalfinancebot.models.Operation" />
        <mapping class="ru.naumen.personalfinancebot.models.Category" />
    </session-factory>
</hibernate-configuration>